* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.wrapper-main {
  padding-inline: 8rem;
}

.hero {
  margin-bottom: 18rem;
}

.hero .nav-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.4rem 0;
}

.hero .nav-hero .logo-hero {
  background-image: url("../assets/shared/desktop/logo.svg");
  width: 23.6rem;
  height: 2.6rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero .nav-hero .nav-items-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.3rem;
}

.hero .nav-hero .nav-items-hero .nav-item {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}

.hero .hero-box {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  background-size: cover;
  border-radius: 1.2rem;
}

.hero .hero-box .hero-box-txt {
  padding-left: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.hero .hero-box .hero-box-txt .h1-hero {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: #fefcf7;
}

.hero .hero-box .hero-box-txt .p-primary {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  padding-top: 3.2rem;
  padding-bottom: 5.6rem;
}

.hero .hero-box .hero-box-txt .btn-primary {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 0.6rem;
  width: 21.7rem;
  height: 5.6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection {
  position: relative;
  padding-inline: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection .collection-shadow {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15rem;
  line-height: 7.2rem;
  text-align: center;
  background: linear-gradient(180deg, grey 0%, #fefcf7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #83888f;
  position: absolute;
  height: 12rem;
  top: -9rem;
  display: flex;
  align-items: center;
  z-index: -10;
}

.collection .collection-boxes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.8rem;
}

.collection .collection-boxes-container .collection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection .collection-boxes-container .collection-box .h3-primary {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: #333d4b;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.collection .collection-boxes-container .collection-box .p-primary {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333d4b;
}

.collection .collection-boxes-container .collection-box .coffee-img-container {
  width: 100%;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
}

.collection .collection-boxes-container .img-1 {
  background-image: url("../assets/home/desktop/image-gran-espresso.png");
}

.collection .collection-boxes-container .img-2 {
  background-image: url("../assets/home/desktop/image-planalto.png");
}

.collection .collection-boxes-container .img-3 {
  background-image: url("../assets/home/desktop/image-piccollo.png");
}

.collection .collection-boxes-container .img-4 {
  background-image: url("../assets/home/desktop/image-danche.png");
}

.why-us {
  margin-top: 20rem;
}

.why-us .why-us-box {
  background: #2c343e;
  border-radius: 1rem;
  height: 57.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 10rem;
}

.why-us .why-us-box .h2-primary {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  color: #fefcf7;
  padding-bottom: 3.2rem;
}

.why-us .why-us-box .p-primary {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  width: 40%;
  text-align: center;
}

.why-us .why-us-box .features-box {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  position: absolute;
  bottom: -16rem;
  width: 80%;
}

.why-us .why-us-box .features-box .feature-box {
  width: 33.3%;
  height: 38.2rem;
  background: #0e8784;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 3rem;
}

.why-us .why-us-box .features-box .feature-box .h3-primary {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: #fefcf7;
  padding-bottom: 2.4rem;
  padding-top: 5.4rem;
}

.why-us .why-us-box .features-box .feature-box .p-primary {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  width: 100%;
}

.why-us .why-us-box .features-box .feature-box svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
