@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.wrapper-main {
  padding-inline: 8rem;
}

@media screen and (max-width: 1100px) {
  .wrapper-main {
    padding-inline: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .wrapper-main {
    padding-inline: 2.4rem;
  }
}
