.collection .collection-shadow {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  /* identical to box height, or 48% */
  text-align: center;
  color: #83888f;
}
