.footer {
  display: flex;
  justify-content: space-between;
  padding: 4.7rem 8.5rem;
  background-color: #2c343e;
  margin-top: 20rem;

  @media screen and (max-width: 1100px) {
    margin-top: 15rem;
    flex-direction: column;
    gap: 6.5rem;
  }

  .logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      gap: 3.2rem;
    }

    .logo-footer {
      background-image: url("../assets/shared/desktop/logo-white.svg");
      width: 23.6rem;
      height: 2.6rem;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .nav-items-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.3rem;

      @media screen and (max-width: 1100px) {
        justify-content: center;
      }

      @media screen and (max-width: 650px) {
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .nav-item {
        @include navItem();

        &:hover {
          color: $font-color-bright;
        }
      }
    }
  }

  .social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;

    @media screen and (max-width: 1100px) {
      justify-content: center;
    }

    svg {
      cursor: pointer;
      color: white;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fdd6ba;
      }
    }
  }
}
